
body{
    background-image: linear-gradient( 135deg, #0038FF,#E48F41  );
    height: 100vh;
    
                                   /* angulo*/
}

.img_perfil{
    background-image: url("Projeto 01/img/foto/Perfil.jpeg");
        
}




