button{
    height: 35px;
    width: 70px;
    background-color:  rgba(255, 0, 0, 0.315);
    border-radius: 7px ;
    font-size:  11px;
}
.b1{
    background-color: rgb(255, 62, 62);
}
.b2{
    background-color: rgb(1, 196, 1);
    
}
.b3{
 background-color:  rgb(101, 101, 255);
}


#customTitle{
    color: blue;
    text-decoration: underline
}