
#block{
    background-color: rgb(160, 160, 50);
}
#inline{
    background-color: aqua;
}
#inlineBlock{
    background-color: blueviolet;
}

p{
    background-color: rgb(159, 141, 167);
    width: 200px;
}

span{
    background-color:  rgb(245, 67, 67);
}

#inline_Block{
    background-color: rgb(214, 21, 21);
    display:  inline-block; /* usa o display inline e block juntos */
}