#caixa_1, #caixa_2{
    
    height: 250px;
    width: 250px;
    font-size: 40px;
    
}

#caixa_1{

    background-color: red;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    /* margin: 0px    0px    0px    0px; */
           /* cima  direita baixo esquesda     */
    box-sizing: border-box; /* faz com que o tamnho da box seja o tamnho estipulado no height e width*/
/* padding = espaçamento dentro da borda
   border  = espaçamento da borda
   margin  = espaçamento fora da borda
*/
}

#caixa_2{
    background-color: blue;
    box-sizing: border-box; 
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    box-sizing: border-box; 
/* padding = espaçamento dentro da borda
   border  = espaçamento da borda
   margin  = espaçamento fora da borda
*/
}

