* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;

}

.container {

    /*1*/
       display: flex;
    /* Chamando a funcionalidiade flex*/

    /*2*/
       flex-direction: row;
    /* Direção princiral |colum: coluna | row: linha */
    /* flex-direction: row-reverse; modificando para deixar reverso */
    /* flex-direction: column-reverse; modificando para deixar reverso */

    /*3 eixo primario*/
    /* justify-content: flex-end; Define onde ira posicionar (no caso no final) */
    /* justify-content: flex-start; Define onde ira posicionar (no caso no inicio)*/
    /* justify-content: center; Define onde ira posicionar (no caso no centro) */
       justify-content: space-around;
    /* Define um espaçamento especifico entre a direita e a esquerda que fique de forma responsiva e separada */
    /* justify-content: space-evenly; Define um valor correto de centralização com todos os mesmo espaçamentos entre a direita e esquerda */
    /* justify-content: space-between; Define um espaçamento entre os itens, mas não ira ter espalamento inicial ou final */

    /*4 eixo segundario*/
       align-items: center;
    /* definindo a posição segundaria no centro*/
    /* align-items: flex-end; Define onde ira posicionar (no caso no final) */
    /* align-items: flex-start; Define onde ira posicionar (no caso no inicio)*/
    /* align-items: stretch; Estica os intens para o mesmo tamanho que a div mãe*/
    /* align-items: baseline; Alinha os itens*/

    height: 200px;
    border: 2px solid black;
    /* definindo o tamnho da borda, qual o tipo, e a cor*/
}

.item {
    background-color: red;
    /*definindo a corda fundo*/
    /* margin: 10px; */
    /*definindo o espaçamento externo*/
}