body{
    background-color: #1e1e1e;
}
.navegador {
    display: flex;
    width: 100wh;
    height: 70px;
    flex-direction: row;
    background-color: #ededed;
    align-items: center;
}

.parte_1 {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    margin: 0px 30px;
}

.logo {
    width: 40px;
}

.parte_2 {
    display: flex;
    height: 100%;
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}


.link_nav {
    font-size: 19px;
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.link_nav2{
    font-weight: 700;
}

.section_principal{
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
}

.div_1{
    width: 40%;
    height: 100%;
    background-image: url(/Projeto_1/img/WhatsApp\ Image\ 2024-11-18\ at\ 12.45.52.jpeg);
    background-size: cover;
    background-position:  0% 10%;
    opacity: 0.8;
    

}
.div_2{
    height: 100%;
    width: 60%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    font-size: 61px;
    font-family: "Rubik Mono One";
    margin: 0 0 10px;
}
h2{
    font-family: "Rubik";
    font-weight: 300;
    font-size: 39px;
    margin: 0 0 20px;
   
}

.botao{
    width: 220px;
    height: 47px;
    border-radius: 10px;
    background-color: #FF9E44;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}

.icone{
    width: 15px;
}
.curriculo{
    text-decoration: none;
    font-family: "Rubik";
    font-size: 22px;
}


 