
span{
    background-color: rgb(180, 121, 10);
}

/* #itens{
    background-color: rgba(255, 166, 0, 0.253);
    height: 200px;
    margin: 0px;
    /* text-align: center; centro da linha */
    /* line-height: 200px;altura do texto na mesma autura do height da div */
    /* position: relative; /* faz com que o elementos dentro se basem apenas na div itens*/
/* } */

/* #span1{ */
    /* position: absolute ;separa o item e trata como se fosse algo isolado */
    /* top: 50%; */
    /* left: 50%; */
    /* color: yellow; */
    /* background-color: blue; */
    /* transform:  translate(-50%, -50%); faz com que centralize corretamente */
/* } */
/* #span2{ */
    /* position: relative; chamando a posição relativa e atribuindo posição de cada lado */
    /* top: 0px; */
    /* bottom: 0px; */
    /* left: 0px; */
    /* right: 0px ; */
/* } */
/* #span3{ */
     
/* }  */

#itens{
background-color: green;
height: 200px;

}

#absoluto{
    position: absolute; /*separa o item e trata como se fosse algo isolado */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*Centraliza corretamente*/
}
