* {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}

.container {
    height: 400px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
    /* overflow: auto;  coloca um scroll dentro da div */
    /* flex-wrap: wrap; /* caso o item passe do espaçamento definido, ira colocar em outra linha /* */
    /* flex-wrap: nowrap;  valor default */
}

.item {
    background-color: tomato;
    margin: 10px;
    padding: 10px;

}
.i3{
    /* align-self: flex-end;faz com que tenha reação diferente dos itens padrões */
    /*order: -1; ordena os itens ( por default todos os itens tem posição 0 )*/
    /*flex-grow: 1 ;  por default todos tem valor 0, caso almente ele começa a ocupar todo o espaço disponivel levando em consideração a margin dos itens */
}
.i2{
    /* align-self: flex-start; */
    /*order: 1;*/
    /* flex-grow: 2;  caso tenha valor diferente de 0 e tenha outro numero maior que zero atribuido a outro item, ele recebe o dobro do valor do outro item pre-definido como 1 por exemplo */
    flex-shrink: 0;/* caso queria que tenha um tamanho especifico e não diminua de tamanho caso o tamanho da tela altere*/
    flex-basis: 400px; /* define um tamanho estabelecido especifico para esse item*/
}